// Colors
$black: #151515;
$green: #4EE1A0;
$darkgray: #242424;
$lightgray: #D9D9D9;
$white: #FFFFFF;
$red: #FF6F5B;

// Typography
$font-main: 'Space Grotesk';

// Breakpoints used by the responsive() mixin
$breakpoints: (
    'mobile': '(max-width: 767px)',
    'tablet': '(min-width: 768px) and (max-width: 1439px)',
    'desktop': '(min-width: 1440px)',
);
