.header {
  position: relative;
}
.header h1,
.header nav,
.header .hero-h2 {
  position: relative;
  z-index: 2;
}
.header .hero-img {
  position: relative;
}
.header .hero-img::after {
  content: "";
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 100%;
  z-index: 2;
}
.header .hero-img-svg {
  position: relative;
  z-index: 1;
}
.header .img-decoration-hero {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}
.header .hero-name-underline {
  text-decoration-color: #4EE1A0;
  text-decoration-thickness: 5px;
  text-underline-offset: 1rem;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.header .hero-p {
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 5rem;
    overflow-x: clip;
  }
  .header h1 {
    width: 100%;
    padding-top: 1rem;
    text-align: center;
  }
  .header nav {
    width: 100%;
  }
  .header nav ul {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .header nav img {
    width: 1rem;
    height: 1rem;
  }
  .header .hero-img {
    display: flow-root;
    width: 100%;
  }
  .header .hero-img .hero-img-svg {
    display: block;
    width: 50%;
    margin: -30% auto 0;
  }
  .header .hero-img .img-decoration-hero {
    width: 130%;
    top: 10%;
    left: -75%;
  }
  .header .hero-img::after {
    right: -4.4rem;
    bottom: -1rem;
    width: 7.8rem;
    height: 7.8rem;
  }
  .header .hero-h2,
  .header .hero-p {
    text-align: center;
  }
  .header .hero-h2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
  }
  .header .hero-h2 br {
    display: none;
  }
  .header .hero-p {
    max-width: 400px;
    padding: 0 1rem;
  }
  .header .btn-contact {
    margin: 2rem auto 0;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  .header h1,
  .header nav {
    grid-row: 1;
    padding: 1rem;
  }
  .header h1 {
    grid-column: 1;
  }
  .header nav {
    grid-column: 2;
    justify-self: end;
  }
  .header .hero-img {
    grid-column: 2;
    grid-row: 1/span 2;
    justify-self: end;
  }
  .header .hero-img .hero-img-svg {
    width: 100%;
  }
  .header .hero-img::after {
    width: 44%;
    aspect-ratio: 1;
  }
  .header .hero-h2 {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    margin-right: -11rem;
  }
  .header p {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    padding: 1rem 0 6rem 1rem;
  }
  .header .btn-contact {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    padding: 3rem 1rem 2rem;
  }
  .header {
    overflow-x: clip;
    width: 100%;
  }
  .header .hero-img {
    width: 100%;
  }
  .header .hero-img .hero-img-svg {
    margin-right: 18.5rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .header .hero-img .img-decoration-hero {
    width: 250%;
    top: 4rem;
    left: -339%;
  }
  .header .hero-img::after {
    top: 78.8%;
    right: -3.5rem;
  }
  .header .hero-h2 {
    max-width: 550px;
    padding: 9rem 1rem 1rem;
  }
  .header .hero-p {
    max-width: 420px;
  }
  .header .btn-contact {
    align-self: end;
  }
}
@media (min-width: 1440px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  .header h1,
  .header nav {
    grid-row: 1;
    padding: 1rem;
  }
  .header h1 {
    grid-column: 1;
  }
  .header nav {
    grid-column: 2;
    justify-self: end;
  }
  .header .hero-img {
    grid-column: 2;
    grid-row: 1/span 2;
    justify-self: end;
  }
  .header .hero-img .hero-img-svg {
    width: 100%;
  }
  .header .hero-img::after {
    width: 44%;
    aspect-ratio: 1;
  }
  .header .hero-h2 {
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    margin-right: -11rem;
  }
  .header p {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    padding: 1rem 0 6rem 1rem;
  }
  .header .btn-contact {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    padding: 3rem 1rem 2rem;
  }
  .header {
    width: 85%;
  }
  .header .hero-img {
    width: 130%;
  }
  .header .hero-img .hero-img-svg {
    aspect-ratio: 0.6;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .header .hero-img .img-decoration-hero {
    width: 130%;
    top: 16%;
    left: -209%;
  }
  .header .hero-img::after {
    top: 62.5%;
    right: 77%;
  }
  .header .hero-h2 {
    width: 750px;
    padding: 0 0 1rem 1rem;
  }
  .header .hero-h2 br {
    display: none;
  }
  .header p {
    max-width: 420px;
  }
  .header .btn-contact {
    align-self: center;
  }
}
.main-container,
.main-container * {
  box-sizing: border-box;
}
.main-container .div-decoration {
  position: relative;
  width: 100%;
}
.main-container .img-decoration-line {
  position: absolute;
}
.main-container .projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  padding-bottom: 5rem;
}
.main-container .projects h4 {
  padding-bottom: 1.5rem;
}
.main-container .projects .btn-contact {
  grid-column: 2;
  justify-self: end;
}
.main-container .project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1.5rem;
}
.main-container .project-card img,
.main-container .project-card h5,
.main-container .project-card p {
  grid-column: span 2;
}
.main-container .project-card img {
  width: 100%;
  height: auto;
}
.main-container .project-card h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
}
.main-container .project-card p {
  padding-bottom: 1.5rem;
  text-transform: uppercase;
}
.main-container .project-card .btn-view {
  grid-column: 1;
}
.main-container .project-card .btn-code {
  grid-column: 2;
}

@media (max-width: 767px) {
  .main-container {
    width: 100%;
    padding: 1rem;
    overflow-x: clip;
  }
  .main-container .projects {
    width: 100%;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .main-container .skills {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }
  .main-container .skill-card {
    text-align: center;
  }
  .main-container .img-decoration-line {
    top: -6rem;
    right: -23rem;
  }
  .main-container .projects {
    grid-template-columns: 1fr auto;
    -moz-column-gap: 1rem;
         column-gap: 1rem;
    max-width: 440px;
  }
  .main-container .project-card {
    grid-column: 1/span 2;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .main-container {
    width: 100%;
    padding: 1rem;
    overflow-x: clip;
  }
  .main-container .projects {
    width: 100%;
  }
  .main-container .skills {
    display: grid;
    gap: 4rem;
    padding: 3rem 3rem 3rem 1rem;
  }
  .main-container .line:nth-of-type(2) {
    display: none;
  }
  .main-container .img-decoration-line {
    width: 600px;
    top: -8rem;
    right: -27rem;
  }
  .main-container .projects {
    padding: 3rem 1rem;
  }
  .main-container .projects .project-card:nth-child(odd) {
    grid-column: 1;
  }
  .main-container .projects .project-card:nth-child(even) {
    grid-column: 2;
  }
  .main-container .skills {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1440px) {
  .main-container .skills {
    display: grid;
    gap: 4rem;
    padding: 3rem 3rem 3rem 1rem;
  }
  .main-container .line:nth-of-type(2) {
    display: none;
  }
  .main-container .img-decoration-line {
    width: 600px;
    top: -8rem;
    right: -27rem;
  }
  .main-container .projects {
    padding: 3rem 1rem;
  }
  .main-container .projects .project-card:nth-child(odd) {
    grid-column: 1;
  }
  .main-container .projects .project-card:nth-child(even) {
    grid-column: 2;
  }
  .main-container {
    width: 85%;
  }
  .main-container .skills {
    grid-template-columns: repeat(3, 1fr);
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #242424;
}
.footer .contact form {
  display: flex;
  flex-direction: column;
}
.footer .contact form .btn-contact {
  align-self: flex-end;
  padding-top: 1rem;
}
.footer .contact .form-input {
  height: 4rem;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  outline: none;
  background-color: transparent;
  text-indent: 1.5rem;
  text-transform: uppercase;
}
.footer .contact .form-input:is(textarea) {
  height: 8rem;
}
.footer .contact .form-input:focus {
  border-color: #4EE1A0;
}
.footer .contact .form-input:invalid:not(:-moz-placeholder) {
  border-color: #FF6F5B;
  color: #FF6F5B;
}
.footer .contact .form-input:invalid:not(:placeholder-shown) {
  border-color: #FF6F5B;
  color: #FF6F5B;
}
.footer .contact .form-input:invalid:not(:-moz-placeholder) + .form-error {
  display: block;
}
.footer .contact .form-input:invalid:not(:placeholder-shown) + .form-error {
  display: block;
}
.footer .contact .form-input::-moz-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.footer .contact .form-input::placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.footer .contact .form-error {
  display: none;
  color: #FF6F5B;
  font-size: 12px;
  text-align: right;
}
.footer .contact .img-decoration-form {
  position: relative;
  width: 100%;
}
.footer .footer-bottom {
  width: 95%;
}
.footer .footer-bottom h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
}

@media (max-width: 767px) {
  .footer {
    gap: 2rem;
    padding: 3rem 1rem;
  }
  .footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
  }
  .footer .contact p {
    text-align: center;
  }
  .footer .contact form {
    gap: 1rem;
    width: 100%;
  }
  .footer {
    width: 95%;
  }
  .footer .contact {
    max-width: 440px;
  }
  .footer .contact .img-decoration-form {
    top: -8rem;
    left: -50%;
  }
  .footer .contact p {
    max-width: 390px;
  }
  .footer .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer-bottom h6 {
    padding-top: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .footer {
    gap: 2rem;
    padding: 3rem 1rem;
  }
  .footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
  }
  .footer .contact p {
    text-align: center;
  }
  .footer .contact form {
    gap: 1rem;
    width: 100%;
  }
  .footer .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer .footer-bottom .line {
    grid-column: 1/span 2;
  }
  .footer .footer-bottom h6 {
    justify-self: start;
  }
  .footer .footer-bottom nav {
    justify-self: end;
  }
  .footer .contact {
    width: 60%;
  }
  .footer .contact .img-decoration-form {
    top: -3rem;
    left: -100%;
  }
}
@media (min-width: 1440px) {
  .footer .footer-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .footer .footer-bottom .line {
    grid-column: 1/span 2;
  }
  .footer .footer-bottom h6 {
    justify-self: start;
  }
  .footer .footer-bottom nav {
    justify-self: end;
  }
  .footer {
    padding: 5rem 0;
  }
  .footer .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 70%;
    padding-bottom: 5rem;
  }
  .footer .contact h6,
  .footer .contact p,
  .footer .contact .img-decoration-form {
    grid-column: 1;
  }
  .footer .contact p {
    width: 75%;
    align-self: center;
  }
  .footer .contact .img-decoration-form {
    top: 2rem;
    left: -65%;
  }
  .footer .contact form {
    grid-column: 2;
    grid-row: 1/span 3;
    align-self: start;
    justify-self: end;
    gap: 1.5rem;
    width: 80%;
  }
  .footer .footer-bottom {
    width: 85%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
  color: #FFFFFF;
}

[class^=btn-] {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
[class^=btn-] a {
  -webkit-text-decoration: underline #4EE1A0 3px;
          text-decoration: underline #4EE1A0 3px;
  text-underline-offset: 1.7rem;
}
[class^=btn-]:hover a {
  color: #4EE1A0;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #151515;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  h2 {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
}
@media (min-width: 1440px) {
  h2 {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
}

h1,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: normal;
}
@media (min-width: 768px) and (max-width: 1439px) {
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}
@media (min-width: 1440px) {
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #D9D9D9;
}

.social-media {
  display: flex;
  gap: 20px;
  padding: 10px;
  list-style: none;
}

.line {
  width: 100%;
  border-top: 1px solid #D9D9D9;
}/*# sourceMappingURL=index.css.map */